//
// Themes / Amazonia
// --------------------------------------------------

.theme-amazonia {
  // Primary color
  @primary-color: #00965e;
  @secondary-color: #dfdddc;
  @theme-color: color-mix(in srgb, @primary-color, @secondary-text-color 20%);
  // Main menu background color
  @awe-text-color: #fff;
  @awe-border-color: color-mix(in srgb, @primary-color, @secondary-text-color 10%);
  @button-color: color-mix(in srgb, @secondary-color, @secondary-text-color 30%);

  // Copy dust theme
  .theme-dust;

  // Set background color
  background-color: #e6e6e6;

  // Define panel and button default
  .panel-awe {
    .pixel-panel(@primary-color, @awe-text-color, @awe-border-color);
  }
  .btn-default {
    .pixel-button(@color: @button-color, @font-color: @btn-default-color);
  }

  // Define navbar specific backgrounds
  #main-navbar,
  &.mmc #main-navbar {
    .navbar-header {
      background: @primary-navbar-color;
    }
    #main-menu-toggle {
      background: #00965e;
    }
  }

  // Mixins
  .awe-main-menu(@primary-color, @awe-text-color);
  .awe-grid(#666, @primary-color);
  .awe-change-password-page(@primary-color);
  .awe-breadcrumbs(light);
  .awe-buttons(@button-color, @primary-color);
  .awe-loading-bar(@loading-bar-color);
  .awe-theme-color(@theme-color);
  .awe-menu-color(@primary-color);
  
  // Font color menu
  #main-menu ul.navigation li>a {
    color: #fff !important;
  }
}
