// Azure sign with microsoft
.sign-in-azure-btn-light {
  background-image: url("../awe/images/background/azure_signin_light.svg");
  background-repeat: no-repeat;
  background-position: left;
  margin-top: 10px;
  padding: 15px 5px;
  width: 215px;
  height: 41px;
  border: 0 solid;
}

// Sign with SSO
.sign-in-sso-btn {
  background-position: left;
  margin-top: 10px;
  padding: 15px 5px;
}