//
// Notes
// --------------------------------------------------


.note {
  background: #fafafa;
  border-left: 3px solid #ddd;
  border-right: 0 solid #ddd;
  margin-bottom: 20px;
  padding: 20px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
  }
}


// Colors
//

.note.note-success {
  .pixel-note-mixin(@success-color);
}

.note.note-danger {
  .pixel-note-mixin(@danger-color);
}

.note.note-warning {
  .pixel-note-mixin(@warning-color);
}

.note.note-info {
  .pixel-note-mixin(@info-color);
}