//
// Tables
// --------------------------------------------------


// Tables
//

.table {
  // Cells
  thead,
  tbody,
  tfoot {
    > tr > th,
    > tr > td {
      border-top-color: @table-border-color;
    }

    > tr > th {
      font-weight: 600;
    }
  }
  // Account for multiple tbody instances
  tbody + tbody {
    border-top-color: @table-border-color;
  }
}

// Bordered tables
//

.table-bordered {
  border-color: @table-border-color;
  > thead,
  > tbody,
  > tfoot {
    > tr > th,
    > tr > td {
      border-color: @table-border-color;
    }
  }
}

// Table header
//

.table-header {
  background: #fff;
  position: relative;
  border: 1px solid @table-border-color;
  margin-bottom: -1px;
  padding: 10px 15px 10px 15px;
  .border-top-radius(@border-radius-base);

  .table-caption {
    font-size: 15px;
    line-height: 24px;
    font-weight: 600;
    margin: 0;
    padding: 0;
  }
}

// Table footer
//

.table-footer {
  min-height: 40px;
  margin-top: -19px;
  position: relative;
  border: 1px solid @table-border-color;
  line-height: 20px;
  padding: 10px 15px 10px 15px;
  background: @secondary-background-color;
  .border-bottom-radius(@border-radius-base);
}


// Colors
//

.table-light,
.table-success,
.table-danger,
.table-warning,
.table-info,
.table-primary {
  margin-bottom: 20px;
}

.table-light {
  .table-color(@secondary-background-color, @panel-background-color, @text-color);
}

.table-success {
  .table-color(@success-color, @panel-background-color, @success-color);
}

.table-danger {
  .table-color(@danger-color, @panel-background-color, @danger-color);
}

.table-warning {
  .table-color(@warning-color, @panel-background-color, @warning-color);
}

.table-info {
  .table-color(@info-color, @panel-background-color, @info-color);
}