//
// Themes / Default
// --------------------------------------------------

.theme-default {
  --theme-color: #576070;
  --text-color: #333333;
  --primary-color: #1d89cf;
  --secondary-color: #dfe1e6;
  --primary-text-color: #fff;
  --secondary-text-color: #333333;
  --primary-background-color: #f4f6f7;
  --secondary-background-color: #fafafa;
  --primary-menu-color: #23272d;
  --secondary-menu-color: #1a7ab9;
  --menu-text-color: #727e91;
  --primary-navbar-color: #fff;
  --secondary-navbar-color: #fff;
  --navbar-text-color: #555;
  --panel-background-color: #fff;
  --panel-header-color: #fafafa;
  --panel-border-color: #ececec;
  --panel-text-color: #333333;
  --grid-header-color: #ebebeb;
  --grid-border-color: #dbdbdb;
  --disabled-border-color: #d6d6d6;
  --disabled-color: #eee;
  --required-color: #dde7f9;
  --loading-bar-color: #fff;

  &.dark {
    --theme-color: #576070;
    --text-color: #eee;
    --primary-color: #1d89cf;
    --secondary-color: #38393a;
    --primary-text-color: #fff;
    --secondary-text-color: #ccc;
    --primary-background-color: #060606;
    --secondary-background-color: #222222;
    --primary-menu-color: #2a2d33;
    --secondary-menu-color: #2a2d33;
    --menu-text-color: #a0a3b1;
    --primary-navbar-color: #1c1a1a;
    --secondary-navbar-color: #1c1a1a;
    --navbar-text-color: #fff;
    --navbar-dropdown-color: #222222;
    --panel-background-color: #131313;
    --panel-header-color: #1e1e1e;
    --panel-border-color: #3f3f3f;
    --panel-text-color: #d3d3d3;
    --grid-header-color: #333;
    --grid-border-color: #444;
    --border-color: #444;
    --disabled-border-color: #565656;
    --disabled-color: #333;
    --disabled-text-color: #666;
    --required-color: #173d47;
    --loading-bar-color: #fff;
  }
}
