/*******************************************************************************
  APPLICATION HELP SCREEN
*******************************************************************************/

@media (min-width: @screen-sm-min) {
  .report-container.document {
    .window-center {
      margin-top: -18px;
    }
  }
}

@media (max-width: @screen-xs-max) {
  .report-container.document {
    .window-center {
      padding-top: 0;
    }
  }
}
