//
// Themes / Adminflare / Pages
// --------------------------------------------------

// Sign In Page
&.page-signin .signin-info,
&.page-signup .signup-header {
  background: @primary-color;
}


// Timeline
//

.timeline:before,
.timeline:after,
.tl-header,
.tl-icon {
  background: darken(#f4f4f4, 10%);
}

.tl-header,
.tl-icon {
  box-shadow: 0 0 0 4px #f4f4f4;
}

.tl-entry:before {
  background: @primary-color;
  box-shadow: 0 0 0 3px #f4f4f4;
}

.tl-body:before {
  border-color: transparent @theme-border-color transparent transparent;
}

@media (min-width: @screen-tablet) {
  .timeline.centered .tl-entry.left .tl-body:before {
    border-color: transparent transparent transparent @theme-border-color;
  }

  &.right-to-left .timeline.centered .tl-entry.left .tl-body:before {
    border-color: transparent @theme-border-color transparent transparent;
  }
}

&.right-to-left .tl-body:before {
  border-color: transparent transparent transparent @theme-border-color;
} 


// Mail
//

&.page-mail {
  .mail-nav,
  .mail-nav:before {
    background: #f4f4f4 url("@{images-path}/themes/adminflare/body-bg.png");
  }

  .mail-nav .sections li.active {
    .label,
    .badge {
      background: @primary-color;
    }
  }

  .mail-nav,
  .mail-nav .compose-btn,
  .mail-nav .sections li.active,
  .mail-nav:before {
    border-color: @theme-border-color;
  }

  .mail-nav .navigation.open .sections li.active {
    background: darken(#f4f4f4, 4%);
    background: rgba(0, 0, 0, .04);
  }

  .mail-nav li.divider {
    background: @theme-border-color;
  }

  .mail-nav .sections {
    li.active {
      a {
        color: darken(#f4f4f4, 70%);
      }

      &:after {
        color: darken(#f4f4f4, 30%);
      }
    }

    a {
      color: darken(#f4f4f4, 55%);
    }
  }

  .mail-nav-header {
    color: darken(#f4f4f4, 30%);
  }

  .mail-nav .add-more a {
    color: darken(#f4f4f4, 30%);
  }
}

@media (min-width: @screen-md) {
  &.page-mail .mail-nav .navigation .sections li.active {
    background: darken(#f4f4f4, 4%);
    background: rgba(0, 0, 0, .04);
  }

  &.page-mail .mail-nav .sections a:hover {
    color: darken(#f4f4f4, 70%);
  }
}
