//
// Themes / Fresh
// --------------------------------------------------

.theme-fresh {
  //@primary-color: #64bed8;

  // Panel border color
  //@theme-border-color: #ddd;

  // Main navbar gradient
  //@navbar-start-color: #a1cc3d;
  //@navbar-end-color: #94c53e;

  // Main navbar text color
  //@navbar-text-color: #fff;

  // Main navbar text shadow
  @navbar-text-shadow: 0 -1px 0 rgba(0,0,0,.2);

  // Main menu background color
  //@menu-color: #43474b;

  // Main menu active item background color
  @menu-active-color: @secondary-menu-color;

  // Body background color
  //@body-color: #f4f6f7;

  // Page header background color
  //@page-header-color: #fff;

  // Page header border color
  //@page-header-border-color: @theme-border-color;


  // Imports
  //

  @import './base.less';
  @import './main-navbar.less';
  @import './main-menu.less';
  @import './demo.less';
  @import './pages.less';


  // Styles
  // see {PixelAdmin}/styles/pixel-admin-less/mixins.less
  //

  // Navbar icon buttons
  .nav-icon-btn-theme(@primary-color);

  // Buttons
  .buttons-theme(@primary-color);

  // Progress bars
  .progress-bars-theme(@primary-color);

  // Labels
  .labels-theme(@primary-color);

  // Badges
  .badges-theme(@primary-color);

  // Tables
  .tables-theme(@primary-color);

  // Tabs
  .tabs-theme(@primary-color);

  // Pills
  .pills-theme(@primary-color);

  // Dropdowns
  .dropdowns-theme(@primary-color, #fff);

  // Button groups
  .button-groups-theme(@primary-color);

  // Pagination
  .pagination-theme(@primary-color);

  // List groups
  .list-groups-theme(@primary-color);

  // Forms theme
  .forms-theme(@primary-color);

  // Text color
  .text-primary {
    .pixel-text-color(@primary-color);
  }

  // Background color
  .bg-primary {
    .pixel-bg-color(@primary-color);
  }


  // Plugins
  //

  // jQuery UI
  .ui-slider-theme(@primary-color);
  .ui-autocomplete-theme(@primary-color, #fff);
  .ui-menu-theme(@primary-color);
  .ui-progressbar-theme(@primary-color);
  .ui-tabs-theme(@primary-color);
  .ui-datepicker-theme(@primary-color);

  // Plugins
  .select2-theme(@primary-color, @primary-text-color);
  .switcher-theme(@primary-color);
  .pixel-file-input-theme(@primary-color);
  .bootstrap-datepicker-theme(@primary-color);
  .bootstrap-timepicker-theme(@primary-color);
  .datepaginator-theme(@primary-color);
  .editable-typeahead-theme(@primary-color);
  .data-table-theme(@primary-color);
  .dropzone-theme(@primary-color);
  .md-editor-theme(@primary-color);

  // Widgets
  .widget-rating-theme(@primary-color);
}
