//
// Themes / Grass
// --------------------------------------------------

.theme-grass {
  --theme-color: #64bed8;
  --text-color: #333333;
  --primary-color: #64bed8;
  --secondary-color: #e0eec7;
  --primary-text-color: #fff;
  --secondary-text-color: #333333;
  --primary-background-color: #f6f6f6;
  --secondary-background-color: #fafafa;
  --primary-menu-color: #434B48;
  --secondary-menu-color: #b5cc7e;
  --menu-text-color: #9ba6a2;
  --primary-navbar-color: #a1cc3d;
  --secondary-navbar-color: #94c53e;
  --panel-background-color: #fff;
  --panel-header-color: #73817c;
  --panel-border-color: #5b6662;
  --loading-bar-color: #64bed8;

  &.dark {
    --theme-color: #64bed8;
    --text-color: #eee;
    --primary-color: #417a8a;
    --secondary-color: #2a2f1f;
    --primary-text-color: #fff;
    --secondary-text-color: #e9f5d5;
    --primary-background-color: #060606;
    --secondary-background-color: #222222;
    --primary-menu-color: #434B48;
    --secondary-menu-color: #a1cc3d;
    --menu-text-color: #9ba6a2;
    --primary-navbar-color: #a1cc3d;
    --secondary-navbar-color: #6a8c2c;
    --navbar-text-color: #ffffff;
    --navbar-dropdown-color: #222222;
    --panel-background-color: #131313;
    --panel-header-color: #4b5451;
    --panel-border-color: #5b6662;
    --grid-header-color: #333;
    --grid-border-color: #444;
    --border-color: #444;
    --disabled-border-color: #565656;
    --disabled-color: #333;
    --disabled-text-color: #666;
    --required-color: #060;
    --loading-bar-color: #a5d0dc;
  }

  // Define navbar specific backgrounds
  #main-navbar,
  #main-navbar .navbar-header,
  #main-navbar .main-navbar-collapse {
    background-image: linear-gradient(to bottom, @primary-navbar-color 0%, @secondary-navbar-color 100%) !important;
    background-repeat: repeat-x !important;
  }
}
